<div class="container-fluid outer-body">
    <div class="row align-items-center justify-content-center">
        <div class="col-auto logout-container">
            <div class="row justify-content-center logo">
                <img class="img-fluid pb-3" src="assets/infoblox-logo-black.svg" alt="LOGO">
            </div>
            <div class="row justify-content-center logout-heading">
                <div class="col-auto">NIOS BloxConnect</div>
            </div>
            <div class="row justify-content-center">
                <ng-template *ngIf="session_timeout;then session_expired else logout;"></ng-template>
                <ng-template #logout>
                    <span class="text-primary text-center" style="font-size: 4em; font-weight: 500;">
                        Thank You
                    </span>
                </ng-template>
                <ng-template #session_expired>
                    <span class="text-danger text-center" style="font-size: 3.5em; font-weight: 500;">
                        Session Expired
                    </span>
                </ng-template>
            </div>
            <div class="row justify-content-center">
                <span class="text-center" style="font-size: 2.5em; font-weight: 400;">
                    You have been logged out successfully.
                </span>
            </div>
            <div class="row justify-content-center">
                <span class="text-center">
                    <a style="font-size: 1.5em;" routerLink="/login">Click here to Login again</a> 
                </span>
            </div>
        </div>
    </div>
</div>