<div class="container-fluid outer-body">
    <div class="row align-items-center justify-content-center">
        <div class="col-auto nf-container">
            <div class="row justify-content-center logo">
                <img class="img-fluid pb-3" src="assets/infoblox-logo-black.svg" alt="LOGO">
            </div>
            <div class="row justify-content-center nf-heading">
                <div class="col-auto">NIOS BloxConnect</div>
            </div>
            <div class="row justify-content-center">
                <span class="text-center" style="color: red; font-size: 5em; font-weight: 700;">404</span>
            </div>
            <div class="row justify-content-center">
                <span class="text-center" style="font-size: 2.5em; font-weight: 500;">Page Not Found</span>
            </div>
            <div class="row justify-content-center">
                <span class="text-center" style="font-size: 1.5em;">We couldn't find the page you were looking for.</span>
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-primary" type="button" routerLink="/ui">Go to Homepage</button> 
            </div>
        </div>
    </div>
</div>